.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.example.json
!.vscode/tasks.json
!.vscode/launch.json

*.log
.cache/
.temp/
tmp/
*.tmp

.env
.env.*
!.env.example
*.keystore
*.jks
*.p12
*.p8
*.pem
*.key
*.mobileprovision

dist/
out/
build/
coverage/
artifacts/
cypress/screenshots/
cypress/videos/

node_modules/
.npm/
.pnpm-store/
.yarn/cache/
